<%- include("./partials/header")%>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			 <li data-target="#myCarousel" data-slide-to="2" class=""></li>
			 <li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<!-- <li data-target="#myCarousel" data-slide-to="4" class=""></li>  -->  
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active"> 
				<div class="container">
					<div class="carousel-caption">
						<h3> <span>Customized</span>T-Shirts</h3>
						<p>That represents you</p>
						<a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item2"> 
				<div class="container">
					<div class="carousel-caption">
						<h3><span>Customized</span>Hoodies</h3>
						<p>That inspires</p>
						<a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item3"> 
				<div class="container">
					<div class="carousel-caption">
						<h3>Get your free samples<span> Now</span></h3>
						<p>Choose upto two vendors for free samples</p>
						<a class="hvr-outline-out button2" href="mens.html">Get Now </a>
					</div>
				</div>
			</div> 
			<div class="item item4"> 
				<div class="container">
					<div class="carousel-caption">
						<h3><span>Exponential business growth</span> for vendors</h3>
						<p>Get free registration</p>
						<a class="hvr-outline-out button2" href="#">Register now</a>
					</div>
				</div>
			</div> 
			<!-- <div class="item item5"> 
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
					</div>
				</div>
			</div>  -->
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
    </div> 
	<!-- //banner -->
    <!-- <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="/use/images/bottom1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>			
						</figure>
					</div>
					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="/use/images/bottom2.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>			
						</figure>
					</div>
					<div class="clearfix"></div>
		    </div> 
		 </div> 
    </div> -->
	<!-- schedule-bottom -->
	<div class="schedule-bottom">
		<div class="col-md-6 agileinfo_schedule_bottom_left">
			<img src="/use/images/mid.jpg" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agileinfo_schedule_bottom_right">
			<section class="text-gray-600 body-font">
				<div class="container px-5 py-24 mx-auto flex flex-wrap">
				  <div class="flex">
					<div class="h-full w-6 absolute inset-0 flex items-center justify-center">
					  <div class="h-full w-1 bg-gray-200 pointer-events-none">
					<div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
					  <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"style="margin-top: 30px;" style="margin-bottom: 10px;"></div>
					  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					  width="100" height="80"
					  viewBox="0 0 172 172"
					  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-width="1"></path><g fill="#000000" stroke="none" stroke-width="1"><path d="M32.68,24.08c-0.94944,0 -1.72,0.76884 -1.72,1.72v24.08c0,0.95116 0.77056,1.72 1.72,1.72h10.32c0.94944,0 1.72,-0.76884 1.72,-1.72v-12.04h82.56v10.32c0,0.95116 0.77056,1.72 1.72,1.72h10.32c0.94944,0 1.72,-0.76884 1.72,-1.72v-22.36c0,-0.95116 -0.77056,-1.72 -1.72,-1.72zM34.4,27.52h103.2v18.92h-6.88v-10.32c0,-0.95116 -0.77056,-1.72 -1.72,-1.72h-86c-0.94944,0 -1.72,0.76884 -1.72,1.72v12.04h-6.88zM50.74,41.28c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h53.32c0.47472,0 0.86,-0.38528 0.86,-0.86c0,-0.47472 -0.38528,-0.86 -0.86,-0.86zM109.22,41.28c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h5.16c0.47472,0 0.86,-0.38528 0.86,-0.86c0,-0.47472 -0.38528,-0.86 -0.86,-0.86zM117.82,41.28c-0.47472,0 -0.86,0.38528 -0.86,0.86c0,0.47472 0.38528,0.86 0.86,0.86h3.44c0.47472,0 0.86,-0.38528 0.86,-0.86c0,-0.47472 -0.38528,-0.86 -0.86,-0.86zM86,48.16336c-0.43086,0 -0.86226,0.16125 -1.19594,0.48375l-34.4336,33.27797c-0.33196,0.31992 -0.52062,0.76013 -0.52406,1.22281c-0.00516,0.46096 0.17547,0.90445 0.50055,1.22953l9.71867,9.73547c0.65876,0.65532 1.71927,0.67507 2.39523,0.03695l14.93914,-14.05563v62.66578c0,0.95116 0.77056,1.72 1.72,1.72h13.76c0.94944,0 1.72,-0.76884 1.72,-1.72v-62.66578l14.93914,14.05563c0.67768,0.63984 1.73819,0.62009 2.39523,-0.03695l9.71867,-9.73547c0.32508,-0.3268 0.50399,-0.76857 0.50055,-1.22953c-0.00344,-0.46268 -0.1921,-0.90289 -0.52406,-1.22281l-34.4336,-33.27797c-0.33368,-0.3225 -0.76508,-0.48375 -1.19594,-0.48375zM86,52.27859l31.98461,30.90289l-7.30328,7.31672l-16.62219,-15.63789c-0.50052,-0.46956 -1.23329,-0.59082 -1.86109,-0.3225c-0.63124,0.27176 -1.03805,0.89262 -1.03805,1.5789v64.92328h-10.32v-64.92328c0,-0.68628 -0.40853,-1.30714 -1.03805,-1.5789c-0.62608,-0.2752 -1.36057,-0.14706 -1.86109,0.3225l-16.61883,15.63789l-7.30328,-7.31672z"></path></g><g fill="#cccccc" stroke="none" stroke-width="1"><path d="M99.195,68.94v3.7h-10.97v30.42h-4.48v-30.42h-10.94v-3.7z"></path></g><path d="M62.805,113.06v-54.12h46.39v54.12z" fill="#ff0000" stroke="#50e3c2" stroke-width="3" opacity="0"></path></g></svg>
					  </div>
					  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
						<h2 class="font-medium title-font text-blue-900 mb-1 text-xl"><span>Upload your Design</span></h2>
						<p class="leading-relaxed">Choose your t-shirt/hoodie type, printing type and then upload</p> <p>your design.</p>
					  </div>
					</div>
				  </div>
				  <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
					<div class="h-full w-6 absolute inset-0 flex items-center justify-center">
					  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
					</div>
		
					<div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
					  <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"style="margin-top: 30px;" style="margin-bottom: 10px;"></div>
					  <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100" height="80" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet">
						<g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
						<path d="M200 780 l0 -160 50 0 50 0 0 -142 0 -142 -48 47 c-39 38 -54 47 -83 47 -45 0 -69 -25 -69 -71 0 -32 13 -48 133 -167 l134 -132 137 0 c154 0 183 9 216 63 17 28 20 51 20 168 0 153 -7 169 -71 169 -23 0 -38 6 -47 20 -9 15 -23 20 -56 20 -25 0 -48 4 -51 10 -3 6 -22 10 -41 10 l-34 0 0 50 0 50 40 0 40 0 0 160 0 160 -160 0 -160 0 0 -160z m280 0 c0 -113 -1 -120 -20 -120 -11 0 -20 5 -20 12 0 19 -32 48 -52 48 -16 0 -11 10 26 51 25 28 46 54 46 58 0 3 -8 11 -19 18 -16 10 -24 6 -56 -27 l-38 -39 -28 22 c-29 20 -29 21 -44 1 -14 -17 -12 -22 22 -51 34 -31 35 -34 20 -51 -10 -10 -17 -24 -17 -30 0 -7 -13 -12 -30 -12 l-30 0 0 120 0 120 120 0 120 0 0 -120z m-86 -132 c3 -13 6 -67 6 -120 0 -90 2 -98 19 -98 11 0 23 9 26 20 10 32 42 25 50 -10 8 -35 40 -42 50 -10 3 11 15 20 26 20 14 0 20 -9 25 -40 5 -30 11 -40 25 -40 10 0 21 9 24 20 9 27 41 26 49 -2 9 -37 7 -170 -5 -211 -14 -51 -46 -69 -134 -75 -145 -9 -155 -5 -287 126 -65 64 -118 124 -118 134 0 34 35 18 95 -42 94 -95 95 -94 95 129 0 104 3 196 6 205 9 24 41 19 48 -6z"/>
						<path d="M580 780 l0 -160 160 0 160 0 0 160 0 160 -160 0 -160 0 0 -160z m280 0 l0 -120 -120 0 -120 0 0 120 0 120 120 0 120 0 0 -120z"/>
						</g>
						</svg>
					  </div>
					  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
						<h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Choose vendors</h2>
						<p class="leading-relaxed">Select vendors according to your price-quality ratio. </p><p>You can get free sample from upto 2 vendors.</p>
					  </div>
					</div>
				  </div>
				  <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
					<div class="h-full w-6 absolute inset-0 flex items-center justify-center">
					  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
					</div>
		
					<div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
					  <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"style="margin-top: 30px;" style="margin-bottom: 10px;"></div>
					  <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="64.000000pt" height="64.000000pt" viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">

						<g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
						<path d="M87 594 c-4 -4 -7 -112 -7 -240 l0 -233 -27 -3 c-31 -3 -43 -38 -23 -64 18 -20 522 -21 539 0 8 9 11 91 9 277 l-3 264 -241 3 c-132 1 -243 -1 -247 -4z m471 -271 c-3 -218 -5 -258 -18 -258 -8 0 -17 11 -20 25 l-6 25 -207 3 -207 2 0 230 0 230 230 0 230 0 -2 -257z m-58 -243 c0 -20 -5 -20 -227 -18 -208 3 -228 5 -231 21 -3 16 13 17 227 17 225 0 231 -1 231 -20z"/>
						<path d="M177 500 c-12 -12 -17 -29 -15 -52 2 -28 7 -34 31 -36 21 -3 27 -9 27 -28 0 -17 -5 -24 -20 -24 -11 0 -20 7 -20 15 0 8 -4 15 -10 15 -18 0 -11 -35 10 -53 20 -16 22 -16 41 2 15 13 19 29 17 52 -2 29 -7 35 -30 37 -22 3 -28 9 -28 28 0 17 5 24 20 24 11 0 20 -7 20 -15 0 -8 5 -15 10 -15 17 0 11 35 -10 53 -24 20 -21 20 -43 -3z"/>
						<path d="M280 490 c0 -5 23 -10 50 -10 28 0 50 5 50 10 0 6 -22 10 -50 10 -27 0 -50 -4 -50 -10z"/>
						<path d="M400 490 c0 -5 18 -10 40 -10 22 0 40 5 40 10 0 6 -18 10 -40 10 -22 0 -40 -4 -40 -10z"/>
						<path d="M280 450 c0 -6 33 -10 80 -10 47 0 80 4 80 10 0 6 -33 10 -80 10 -47 0 -80 -4 -80 -10z"/>
						<path d="M280 350 c0 -6 40 -10 100 -10 60 0 100 4 100 10 0 6 -40 10 -100 10 -60 0 -100 -4 -100 -10z"/>
						<path d="M280 310 c0 -5 23 -10 50 -10 28 0 50 5 50 10 0 6 -22 10 -50 10 -27 0 -50 -4 -50 -10z"/>
						<path d="M400 310 c0 -5 9 -10 20 -10 11 0 20 5 20 10 0 6 -9 10 -20 10 -11 0 -20 -4 -20 -10z"/>
						<path d="M130 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M180 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M230 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M280 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M330 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M380 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M430 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M480 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						<path d="M530 180 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"/>
						</g>
						</svg>
					  </div>
					  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
						<h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Place your order</h2>
						<p class="leading-relaxed">After receiving your sample- register for </p><p>different college events, get discount upto<span style="color:red; font-weight: 700;"> 25%</span>- and place your order.</p>
					  </div>
					</div>
				  </div>
				  <!-- <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
						<div class="h-full w-6 absolute inset-0 flex items-center justify-center">
					  		<div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
						</div>
						<div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
					  <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center" style="margin-top: 30px;" style="margin-bottom: 10px;">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24"style="width: 40px;">
						  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
						  <circle cx="12" cy="7" r="4"></circle>
						</svg>
					  </div>
					  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
						<h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Neptune</h2>
						<p class="leading-relaxed">VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.</p>
					  </div>
					</div> -->
				  </div>
				</div>
			  </section>
		</div>
		
		<div class="clearfix"> </div>
		
	</div>

<!-- //schedule-bottom -->
  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">What's <span>Trending</span></h3>
	
		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="masks.html">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="/use/images/bb1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>M</span>asks </h3>
								
							</figcaption>			
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="mens.html">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="/use/images/bottom3.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>Cultural fest</span>  T-Shirts </h3>
								
							</figcaption>			
						</figure>
		        </div>
				</a>
				<a href="mens.html">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="/use/images/bottom4.jpg" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>Technical fest</span>T-Shirts </h3>
								
							</figcaption>		
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
	
<!-- /new_arrivals --> 
	<div class="new_arrivals_agile_w3ls_info"> 
		<div class="container">
		    <h3 class="wthree_text_info">Past<span> Orders</span></h3>		
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li> T-Shirts</li>
							<li> Hoodies</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
						<div class="tab1">
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/use/images/top2.jpg" alt="" class="pro-image-front">
										<img src="/use/images/top2.jpg" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">CS Departmental T-Shirt</a></h4>
										<div class="info-product-price">
											<span class="item_price">MNNIT Allahabad</span>
											
										</div>
										
																			
									</div>
								</div>
							</div>
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/use/images/m2.jpg" alt="" class="pro-image-front">
										<img src="/use/images/m2.jpg" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
									
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">IT Departmental T-Shirt</a></h4>
										<div class="info-product-price">
											<span class="item_price">MNNIT Allahabad</span>
											
										</div>
										
																			
									</div>
								</div>
							</div>
							
							<div class="clearfix"></div>
						</div>
						<!--//tab_one-->
						<!--/tab_two-->
						<div class="tab2">
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/use/images/m2png.png" alt="" class="pro-image-front">
										<img src="/use/images/m2_1.png" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
									
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">College Jacket</a></h4>
										<div class="info-product-price">
											<span class="item_price">MNNIT Allahabad</span>
											
										</div>
										
																			
									</div>
								</div>
							</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	<!-- //new_arrivals --> 
	<!-- /we-offer -->
		<div class="sale-w3ls">
			<div class="container">
				<h6>We Offer Flat <span>20%</span> Discount on your first order</h6>
 
				<a class="hvr-outline-out button2" href="single.html">Shop Now </a>
			</div>
		</div>
	<!-- //we-offer -->
<!--/grids-->
<div class="coupons">
	<div class="coupons-grids text-center">
		<div class="w3layouts_mail_grid">
		<div class="col-md-3 w3layouts_mail_grid_left">
		
			<div class="w3layouts_mail_grid_left2">
				
			</div>
		</div>
		<div class="col-md-3 w3layouts_mail_grid_left">
			<div class="w3layouts_mail_grid_left1 hvr-radial-out">
				<i class="fa fa-headphones" aria-hidden="true"></i>
			</div>
			<div class="w3layouts_mail_grid_left2">
				<h3>24/7 SUPPORT</h3>
				<p>We will always be on your side if vendor delivers any defected piece!</p>
			</div>
		</div>
		<div class="col-md-3 w3layouts_mail_grid_left">
			<div class="w3layouts_mail_grid_left1 hvr-radial-out">
			<i class="fa fa-gift" aria-hidden="true"></i>
			</div>
			<div class="w3layouts_mail_grid_left2">
			<h3>FREE DISCOUNT COUPONS</h3>
			<p>FREE DISCOUNT COUPONS for college events</p>
		</div>
			
		</div>
		<div class="clearfix"> </div>
	</div>

</div>
</div>
<!--grids-->
<%- include("./partials/footer")%>